HTML { 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

BODY {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #08a;
}

* {
  margin: 0;
  padding: 0;
 }


div#game_rose {
	position: absolute;
	overflow: hidden;
	left: 17px;
	top: 17px;
	width: 149px;
	height: 84px;
	border: 0px solid #001;
	background-image: url(/app/images/rose.game.png);
}
div#map_rose {
	position: absolute;
	overflow: hidden;
	right: 17px;
	top: 17px;
	width: 64px;
	height: 66px;
	border: 0px solid #001;
	background-image: url(/app/images/rose.map.png);
}

div#game_container {
  position: absolute;
  overflow: hidden;
  border: 4px solid #001;
  background-image: url(/app/images/sand.png);
  //z-index: 1;
}

div#game_shadow {
  position: absolute;
  overflow: hidden;
  border: 4px solid #001;
  background-color: #000;
  opacity: 0.0;
  //z-index: 1;
}

div#map_container {
  position: absolute;
  overflow: hidden;
  border: 4px solid #001;
  //opacity: 0.9;
}

canvas#map_canvas {
  background-color: #000;
}

div#edit_container {
  position: absolute;
  //overflow: hidden;
  overflow-y: scroll;
  border: 4px solid #001;
  background-color: #000;
  color: #fff;
  opacity: 0.8; /* Полупрозрачность элемента */
  font-size: 11;
}


div#edit_container input.text{
	width: 90px;
}

div#edit_container input.checkbox{
	width: 13px;
	height: 13px;
}


div#console_container {
  position: absolute;
  /*overflow: scroll;*/
  border: 4px solid #001;
  background-color: #000;
  color: #fff;
  opacity: 0.8; /* Полупрозрачность элемента */
}

textarea#edit_textarea {
  overflow: scroll;
  border: 0px solid #001;
  background-color: #000;
  color: #fff;
  font-size: 9;
}


div#test_div {
  position: absolute;
  overflow: hidden;
  border: 0px solid #fff;
  width: 128px;
  height: 64px;
  left: 5px;
  top: 7px;
  //z-index: 1;
  //background-image: url(/app/images/grass/trava.128.00.png), url(/app/images/sands/sand.00.png);
  //background-repeat: no-repeat, repeat-y;
  //background-position:  0px 0px, 0px 64px;
}

